/* Small devices ( 576px and up)
*/
@media (max-width: 768px) {
  /******** BLOG PAGE (INDEX.HTML) ********/
  .article-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 1rem 0;
  }
  .articles-container {
    margin: auto;
  }
  .desc-container h6 {
    margin: auto;
  }

  /******** POST PAGE (POST.HTML) ********/
}
